@use '../utils/vars.scss' as *;

//__________________ APARTMENT LIST
#admin-index{
    padding-bottom: 30px;
    
    header{
        @include flex(space-between, center);
        padding: 24px 0;
        border: 0;
    }

    .button-primary{
        @include flex($gap:5px);
        padding: 7px 10px;

    }

    td,th{
        text-align: center;
    }

    td.apartment-title{
        text-align: start;
        max-width: 70px;
        
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
        
.apartments-action-list{
    .dropdown-menu{
        padding: 10px 16px;
        text-wrap: nowrap;

        li:hover{
            .info{
                background-color: #0dcaf0;
                color: white;
            }
            .warning{
                background-color: #ffc107;
            }
            .danger{
                background-color: #dc3545;
                color: white;
            }
        }
    }

    .admin-action{
        @include flex(start, center, $gap:5px);
        padding: 5px;
        border-radius: 10px;
        transition: all 0.2s;
    }
}

.apartment-title{
    >div{
        @include text_underscore($brand-color, 2px, 0.3s);
    }
    &:hover{
        color: $brand-color;
        background-size: 100% 2px;
    }
    a{
        padding: 20px 0;
    }
}

// Button upgrade
td .circle-button.promote {
  color: white;
  background-color: black;
  
  &:hover{
      background-image: linear-gradient(0deg,#ff386a,#000000,#ff386a,#000000);
      background-size: 100% 300%;
      animation: upgradeAnimation 1s linear infinite;
  }
}

@keyframes upgradeAnimation {
  0% { background-position: 0% 0%; }
  100% { background-position: 0% 100%; }
}

// Promo activated
.promotion {

    .dropdown-toggle{
        font-size: 12px;
        font-weight: 600;
        text-decoration: underline;
        color: $brand-color;
    }

   ol{
        list-style-type: decimal;
    }

    li{
        @include flex(start, center, $gap:8px);
        color: #000000;
        list-style-position: outside;
    }

    hr{
        margin: 0 0 12px 0;
    }

    h6{
        font-size: 13px;
        font-weight: 300;
    }
}

.Bronze, 
.Silver,
.Gold{
    text-align: center;
    color: white;
    border-radius: 15px;
    padding: 3px 5px;
    margin: 2px 0;
    font-size: 10px;
}

.Bronze{
    background-color: $bronze;
}

.Silver{
    background-color: $silver;
}


.Gold{
    background-color: $gold;
}

// Media Query

@media (min-width: 576px) {

#admin-index{
    td.apartment-title{
        max-width: 80px;
    }
}
}