@use './utils/vars.scss' as *;

//__________________ NAVBAR

.bool-nav {
    padding: 0 12px;

    div[class*="col"] {
        padding: 0;
    }

    .row {
        height: 80px;
    }

    ul {
        @include flex(start);
        height: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
        gap: 15px;
    }

    li {
        @include flex($direction: column);
        height: 100%;
        padding: 0 10px;
        font-size: 12px;
        border-bottom: 3px solid transparent;
        color: grey;
        font-weight: 500;
        transition: all 0.5s;
        cursor: pointer;
        gap: 5px;
        text-wrap: nowrap;

        img {
            filter: invert(40%) sepia(55%) saturate(0%) hue-rotate(206deg) brightness(113%) contrast(83%);
        }

        &:hover {
            border-bottom: 3px solid grey;
            color: black;

            img {
                filter: brightness(0) saturate(100%);
            }
        }
    }

    img {
        width: 25px;
    }

    .filter {
        @include flex;
        @include circle(40px);
        border: 1px solid $light-grey;
    }

    @media (min-width: 768px) {
        .filter {
            @include circle(auto);
            gap: 10px;
            border-radius: 10px;
            padding: 15px 12px;
        }
    }
}